
table {
    width: 100%;
    border: 1px solid #000;
    background: rgb(134, 235, 196);
    color: bl;
 }
 th, td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.3em;
    caption-side: bottom;
}
th{
    background: rgb(100, 237, 134);
}

*{
    margin: 3px;
    padding: 0px;
}    

body{
    background-color: rgb(193, 214, 201);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
   
}

#container {
    
    /*width: 70%;*/
    width: 1000px;
    margin: 0px auto;
    border: 1px solid black;
}
header{
    background: #abacad;
    height: 100px;
    width: 99%;
    text-align: center;
    line-height: 100px;
    color: black;
    border-bottom: 3px white;
    margin-left: 6px;

}

nav{
    
    background: #C9D3DA;
    height: 94px;
    text-align: center;
    line-height: 70px;
    color: rgb(0, 0, 0);
    list-style: nome;
    font-family: helvetica;  
    margin: 5px;
}
.clearfix{
    clear: both;
}
#contenet{
    float: left;
    width: 78.1%;
    background: #99ACB8;
    height: 1700px;
    
    
}
aside{
    float: left;
    width: 20%;
    background: #6C8799;
    height: 1700px;
    color: white;
    
}

footer{
    background: #476980;
    color:white;
    text-align-last: center;
    height: 50px;
    line-height: 50px;
}
.color:hover {color: cyan;
}
ul{
    list-style: none;
  }
  #menu li>a{
    background-color: #C9D3DA;
    color: black;
    padding: 8px;
    display: block;
    text-decoration: none;
    min-width: 120px;
    height: 68px;
  }
  #menu li>a:hover{
    color: #000;
    background-color: #eaeaea;
  }
  #menu>li{
    float: left;
    text-align:center
  }
  #menu>li>ul{
    display: none;
  }
  #menu>li:hover>ul {
    display:block;
  }