*{
    
    margin: 6px;
    padding: 0px;

}

body{
    background-color: rgb(168, 219, 188);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

#container {
    
    /*width: 70%;*/
    width: 1000px;
    margin: 0px auto;
    border: 1px solid black;
}
header{
    background: #DDF6B1;
    height: 100px;
    width: 99%;
    margin: 5px;
    text-align: center;
    line-height: 100px;
    color: black;
    border-bottom: 3px white;
}

nav{
    
    background:   #EFFBD8;
    height: 70px;
    
    
    width: 99%;
    margin: 5px;
    text-align: center;
    line-height: 70px;
    color: rgb(0, 0, 0);
    list-style: nome;
}
.clearfix{
    clear: both;
}
#contenet{
    float: left;
    width: 78.1%;
    background: #CBEF89;
    height: 1700px;
}
aside{
    float: left;
    width: 18.8%;
    background: #ABD65D;
    height: 1700px;
}

footer{
    background: #88B536;
    color: white;
    text-align-last: center;
    height: 50px;
    line-height: 50px;
}
.color:hover {color: cyan;
}
